---
layout: default
---

<div class="home">

  <!-- Section for featured post -->
  <section>
    <div class="wrapper">
      <h1>featured article</h1>
      {% assign count = 0 %}
        {% for post in site.posts %}
          {% if post.featured == true and count < 1 %}
            <div class="post">
              {% include post.html %}
            </div>
            {% assign count = count | plus: 1 %}
          {% endif %}
        {% endfor %}
    </div>
  </section>

  <!-- Section for featured projects -->


  <!-- Section for latest articles -->
  <section>
    <div class="wrapper">
      <h1>latest articles</h1>
      <ul class="post-list">
        {% for post in site.posts | limit: 4 %}
          <li class="post">
            {% include post.html %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  
</div>
