<footer>
  <div class="wrapper">
    <div class="footer-content">
      <h3>lorem ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cum dolorem nulla officiis aliquid. Exercitationem unde labore tempore vel ex, modi quia dolorem inventore, omnis, veritatis fuga odit harum porro.</p>
      <p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div>
    <div>
      <ul>
        <li>
        <a href="http://twitter.com/{{ site.twitter_username }}">
          <img src="/img/twitter.png" alt="twitter logo">
        </a></li>
        <li>
          <a href="http://github.com/{{ site.github_username }}">
            <img src="/img/github.png" alt="github logo">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>