.header--index {
	display: flex;
	align-items: center;
	min-height: calc(100vh - 2.5rem);
	background-image: linear-gradient(to right, #eacda3, #d6ae7b);
	z-index: 2;
	overflow: hidden;
}

.headline--index {
	margin-bottom: 5rem;
	position: relative;
}

.headline--index::after {
	background-color: black;
	content: '';
	bottom: -2.5rem;
	height: 1px;
	left: 50%;
	margin-left: -1.25rem;
	position: absolute;
	width: 2.5rem;
}

.nav__item--current {
	border-bottom: em(2px) solid rgba(0,0,0,.4);
}