.header--index {
	color: #fff;
	display: flex;
	align-items: center;
	min-height: calc(100vh - 3.5rem);
	background-image: linear-gradient(to right, #a73737, #7a2828);
	z-index: 2;

	@include media-query($phone-375-portrait) {
	    display: block;
	}
}

.header-container {

	@include media-query($phone-375-landscape) {
	    padding: 1.5rem 1.25rem;
	}

	@include media-query($phone-568-landscape) {
		padding: 2.5rem 1.25rem;
	}

	@include media-query($phone-375-portrait) {
	  padding: 7.5rem 0.25rem;
	}
}

.header-phone {
	@include media-query($phone-736-landscape) {
		padding: 1.5rem 1.25rem;
	}
}

.headline--index {
	color: #fff;
	margin-bottom: 5rem;
	position: relative;

	@include media-query($phone-480-landscape) {
	    font-size: 1.4rem;
	}

	@include media-query($phone-375-portrait) {
	    font-size: 1.4rem;
	}

	@include media-query($phone-320-portrait) {
	    font-size: 1.3rem;
	}
}

.headline--hire {
	color: #fff;
	margin-bottom: 2rem;
}

.home,
.nav__item a {
	color: rgba(255,255,255,.4);
}

.nav li a:hover {
	transition: all 0.3s ease-in;
	color: #fff;
}

.nav__item--current a {
	color: #fff;
	border-bottom: em(1px) solid #fff;
}

.heading--latest {
	color: $text-color;
	font-size: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 2rem;
}

.heading--posts a {
	color: $text-color;
	transition: all 0.3s ease-in;

	&:hover {
		color: #2a7ae2;
	}
}

.heading--articles,
.headline--work {
	padding-top: 0.5rem;
	padding-bottom: 1rem;
	font-size: 1.2rem;
}
