// about page
.image--self {
	width: em(100px);
	height: em(100px);
	border-radius: 50%;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

// Articles and work featured images
.post-image {
	margin-bottom: 1rem;
}

// SF post
.ryuvsken {
	display: block;
	margin: 0 auto;
}
