.article--container {
	position: relative;
	margin: 0 auto 3.75rem;
  max-width: 52.5rem;
  padding-right: 1.25rem;
	padding-left: 1.25rem;
  z-index: 5;
}

.post-snippet {
	text-align: left;
}


.post-read-more-link {
	margin-bottom: 2rem;

	& a {
		border-bottom: 1px solid rgba(0,0,0,0.3);
	}
}

// Single blog post
	// Title
	.page-title {
		margin-bottom: 0;
	}

	// Blog post date
	.post-date {
		font-size: 0.9rem;
	}

	// Body of post
	.post--body {
		padding-bottom: 2rem;
		text-align: left;

		& h2 {
			text-align: center;
			margin-bottom: .5rem;
		}

		& p {
			margin-bottom: 2rem;
		}

		& ul {
			margin-bottom: 2rem;
		}

		& ul li {
			display: block;
		}
	}
