// section
.section--articles {
	position: relative;
	padding: 0 1.25rem 2.5rem;
	z-index: 4;
}

// ul
.article--tags {
	display: inline-block;
	height: em(60px);
}

.section--all-articles {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	margin-bottom: 3.75rem;
}

.section--all-articles .project-list {
	padding-top: 0;
}