// Section
.section--projects {
	padding: 0 0 0.5rem 0;
	z-index: 3;
	background: #F9F9F9;
	@include media-query($phone-736-landscape) {
			// padding-right: 1rem;
			// padding-left: 1rem;
	}
}

// ul
.project--list {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	margin: 0 auto 2.5rem;
	max-width: 100rem;
	padding-left: 0;

	@include media-query($hd-laptop-landscape) {
			flex-flow: row nowrap;
	}

	@include media-query($tablet-landscape) {
	    flex-flow: row;
	}

	@include media-query($tablet-portrait) {
	    flex-flow: row wrap;
	}

}

// li
.project--item {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	flex: 1 auto;
	position: relative;
}

// Images of projects on homepage
.project--link figure img {
	@include media-query($tablet-landscape) {
	  max-width: 100%;
		max-height: 100%;
	}
	@include media-query($tablet-portrait) {
	  max-width: 100%;
		max-height: 100%;
	}
	@include media-query($phone-414-portrait) {
	  max-width: 100%;
		max-height: 100%;
	}
	@include media-query($phone-736-landscape) {
	  max-width: 100%;
		max-height: 100%;
	}
	max-width: rem(350);
	max-height: rem(262);
}

.project--link figure img:last-child {
	margin-right:0
}

// All work page

.project-list {
	// padding-top: 2rem;
	// padding-bottom: 2rem;

	.project--item {
		padding-bottom: 2rem;
	}

	.project--item:last-child {
		padding-bottom: 0;
	}
}

.project-list.container {

	@include media-query($phone-320-portrait) {
	  padding: 0;
	}
}

.project-caption {
	color: $text-color;
	padding-top: 0.7rem;
	font-size: 1.3rem;
}


// Invision project
.dank_emote {
	width: rem(20);
	height: rem(20);
}

.invision {
	text-align: center;
	@include media-query($tablet-landscape) {
		visibility: hidden;
    display: none;
	}
}

.invision_no-display {
	display: none;
	@include media-query($tablet-landscape) {
    display: block;
	}
}

//SF project
//SNKHEAD Project
//Principle prototype post
.sfv_video,
.snkrhead_video,
.prd_video_phone,
.video
 {
	text-align: center;
	& video {
		width: rem(375);
		height: rem(667);

		@include media-query($phone-375-portrait) {
			width: rem(330);
			height: auto;
		}
		@include media-query($phone-320-portrait) {
			width: rem(270);
			height: auto;
		}
	}

}

.snkrhead_video,
.prd_video_phone,
.video {
	margin-bottom: 2rem;
}

.prd_video {
	text-align: center;
	margin-bottom: 2rem;
	& video {
		width: rem(400);
		height: rem(300);

		@include media-query($phone-375-portrait) {
			width: rem(300);
			height: rem(225);
		}

	}
}
