// Section
.section--projects {
	padding: 0 1.25rem 0.5rem;
	z-index: 3;
	background-image: linear-gradient(to right, #a73737, #7a2828);
}

// ul
.project--list {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
	margin: 0 auto 2.5rem;
	max-width: 100rem;
	padding-left: 0;

	@include media-query($tablet-landscape) {
	    flex-flow: row;
	}

	@include media-query($tablet-portrait) {
	    flex-flow: row wrap;
	}

	@include media-query($hd-laptop-landscape) {
	    flex-flow: row nowrap;
	}

}

// li
.project--item {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	flex: 1 auto;
	position: relative;
}

// All work page

.project-list {
	padding-top: 2rem;
	padding-bottom: 2rem;

	.project--item {
		padding-bottom: 2rem;
	}

	.project--item:last-child {
		padding-bottom: 0;
	}
}

.project-list.container {

	@include media-query($phone-320-portrait) {
	  padding: 0;
	}
}

.project-caption {
	color: rgba(255, 255, 255, 0.4);
	padding-top: 0.7rem;
	font-size: 1.3rem;
	transition: all 0.3s ease-in;

	&:hover {
		color: #fff;
	}
}