---
layout: projects
---
<article class="article--container">
	<header class="heading--articles">
		<h1 class="page-title">{{ page.title }}</h1>
		<!-- <p class="post-date">
			posted on {{ page.date | date: "%b %-d, %Y"}}
		</p> -->
		{% if page.featured_image %}
			<div class="post-image">
				<img src="{{ page.featured_image }}" alt="{{ page.title }} featured image">
			</div>
		{% endif %}
	</header>
	<div class="post--body">
		{{ content }}
	</div>
	{% if page.post_images %}
	<section class="post--images">
		<a href="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_landscape.png" class="box let-there-be-light">
			<span class="msg">Let there be light</span>
			{% responsive_image path: img/image.png alt: "Project Images" title: "Project Images" template: _includes/responsive-image.html %}
		</a>
		<a href="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_landscape.png" class="box let-there-be-light">
			<span class="msg">Let there be light</span>
			{% responsive_image path: img/image.png alt: "Project Images" title: "Project Images" template: _includes/responsive-image.html  %}
		</a>
		<a href="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_landscape.png" class="box let-there-be-light">
			<span class="msg">Let there be light</span>
			{% responsive_image path: img/image.png alt: "Project Images" title: "Project Images" template: _includes/responsive-image.html  %}
		</a>
		<a href="http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_landscape.png" class="box let-there-be-light">
			<span class="msg">Let there be light</span>
			{% responsive_image path: img/image.png alt: "Project Images" title: "Project Images" template: _includes/responsive-image.html  %}
		</a>
	</section>
	{% endif %}
</article>
